*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height:100vh;
    background-image:linear-gradient(to bottom, rgba(1, 14, 14, 0.5), rgba(14, 14, 17, 0.5)), url(dresspic.jpg);

    background-position:center ;

    
}


ul{
    float: right;
    list-style: none;
   
}
ul li{
    display: inline-block;
    margin: 0 20px;
    margin-top: 25px;
    position: relative;
    

}
ul li a{
    text-decoration:none;
    text-transform: uppercase;
    color: #fff;   
}
ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(76, 65, 192); 
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.7s;
}
ul li:hover::after{
    width: 100%;
}
.title{
    position: absolute;
    top: 10%;
    left: 2%;
    transform-translate: (-50%,-50%);
}
.title h1{
    color: rgb(207, 212, 214);
    font-size: 40px;
}

